*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    width: 100%;
    height: 75px;
    /* background-color: #0c30a0; */
    background-color: #0f3cc9;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.nav img{
    width: 70px;
    height: 60px;
    margin-right: 50px;

}
#icon{
    width: 90px;
    height: 40px;
    margin-left: 50px;
}
.nav ul li a{
    padding-inline: 20px;
    color: white;
    font-size: 18px;
}

.search-bar{
   display: none;

}
.nav input{
    width: 250px;
    height: 40px;
    border-radius: 40px;
    border: none;
    margin-top: 16px;

}

.nav ::placeholder{
    font-size: 15px;
    padding-left: 20px;
}

/* nav section close */

.main-frist{
    width: 100%;
    height: 470px;
    background-image: url(./jio\ 1st\ con\ 3rd.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;



}
.main-frist h1{
    font-size: 40px;
    color: white;
    margin-left: 170px;
    margin-bottom: 20px;

}
.main-frist h2{
    font-size: 18px;
    color: white;
    margin-left: 170px;

}
.main-frist button{
    width: 150px;
    height: 50px;
    border-radius: 35px;
    background-color: #0f3cc9;
    color: white;
    margin-left: 170px;
    margin-top: 20px;
    border:none;
    font-size: 18px;
  


}
.recharge-box{
    width: 100%;
    height: 500px;
    background-color: rgb(200, 199, 199);
    display: flex;

}

.main-recharge{
    width: 50%;
    height: 400px;
    background-color: white;
    padding: 20px;
    margin-top: 100px;
    
}

.image-recharge{

    width: 50%;
    height:400px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

}
.image-recharge img{
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}

.main-recharge button{
    width:120px;
    height: 35px;
    background-color: #0f3cc9;
    border-radius: 30px;
    border: none;
    color: white;
    font-size: 18px;
    

}
.main-recharge input{
    width: 300px;
    height: 35px;
    border-radius: 30px;
    border: 1px solid black;
    margin-left: 200px;

}
.main-recharge input::placeholder{
    font-size: 15px;
    padding-left: 10px;
}

#recharge{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(154, 153, 153);
    color: black;
    border: 1px solid black;
    font-size: 16px;
    margin-left: 200px;
   

}

#pay{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(154, 153, 153);
    color: black;
    border: 1px solid black;
    font-size: 16px;
    /* margin-left: 200px; */
   
}
#frist-button{
    margin-top: 50px;
}
.main-recharge span{
    display: flex;
    padding-top: 10px;
    margin-left: 200px;
}

.button4{
   
    width: 100%;
    height: 100px;
    background-color:rgb(220, 218, 218) ;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 30px;
}
.button1{
    width: 800px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
   

}

.button1 button{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    color: #0f3cc9;
    font-size: 16px;
    border: 1px solid #3158cd;
    font-size: 16px;
}

.button1 button:hover{
    border: 3px solid #0f3cc9;
}

.two-heading{
    width: 100%;
    height: 200px;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;

}
.two-heading h1{
    font-size: 55px;
    margin-top: 80px;

}

.two-image{
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    padding-inline: 180px;
    
    gap: 50px;

}

.left-image{
    width: 50%;
    height: 584px;
    background-image: url(./true-5g-desktop.webp);
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 20px;
}
.right-image{
    width: 50%;
    height: 584px;
    background-image: url(./airfiber-desktop.webp);
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 20px;
}
.left-image button{
    width: 80px;
    height: 30px;
    color: white;
    background-color: #0f3cc9;
    border-radius: 30px;
    font-size: 16px;
    border:none;


}
#down{
    width: 170px;
    height: 30px;
    color: white;
    background-color: #0f3cc9;
    border-radius: 30px;
    font-size: 16px;

}
.right-image button{
    width: 100px;
    height: 30px;
    color: white;
    background-color: #3966eb;
    border-radius: 30px;
    font-size: 16px;
    border: none;

}

#down1{
    width: 150px;
    height: 30px;
    color: white;
    background-color: #3966eb;
    border-radius: 30px;
    font-size: 16px;

}
.mobile-heading{
    width: 100%;
    height: 120px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}
.mobile-heading h1{
    font-size: 35px;
    margin-top: 40px;
}

.video-section{
    width: 100%;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;


}
.video-section video{
    width: 1000px;
    height: 1000px;
    border-radius: 20px;

}
.buy-now{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.buy-now button{
    width: 120px;
    height: 50px;
    color: white;
    background-color: #0c447c;
    font-size: 20px;
    border-radius: 25px;
    border: none;
}
.vedio-heading{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.vedio-heading h1{
    font-size: 40px;

}
.vedio-heading p{
    font-size: 20px;
    margin-top: 10px;
}
.girl-smile-section{
    width: 100%;
    height: 500px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px;
    
}
.girl-smile{
    width: 100%;
    height: 500px;
    background-image: url(./girl-smile.webp);
    background-size: cover;
    background-position: center;
    padding: 50px;
    border-radius: 30px;
    
}
.girl-smile span{
    display: flex;
}
.girl-smile span img{
    width: 70px;
    height: 70px;
}
.girl-smile h4{
    margin-top: 10px;
}
.girl-smile button{
    width: 120px;
    height: 40px;
    color: white;
    background-color: #0f3cc9;
    font-size: 17px;
    border-radius: 25px;
    border: none;
    margin-top: 20px;

}
.two-section{
    width: 100%;
    height: 535px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    gap: 30px;
    padding: 100px;


}
.left-section{
    width: 30%;
    height: 500px;
    background-color: burlywood;
    background-image: url(./two-section\ left.webp);
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 25px;

}
.left-section span h4{
    margin-top: 20px;
}

.left-section span{
    display: flex;
}
.left-section img{
    width: 60px;
    height: 60px;
}
.left-section h4{
    color: white;

}
.left-section h1{
    color: white;
}
.left-section p{
    color: white;
}
.left-section button{
    color: white;
    width: 120px;
    height: 40px;
    color: white;
    background-color: #348376;
    font-size: 17px;
    border-radius: 25px;
    border: none;
    margin-top: 20px;
}
.right-section{
    width: 60%;
    height: 500px;
    background-color: aquamarine;
    background-image: url(./two-section\ right.webp);
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 25px;

}
.right-section span h4{
    margin-top: 20px;
}
.right-section span{
    display: flex;
}
.right-section img{
    width: 60px;
    height: 60px;
}

.right-section h4{
    color: white;

}
.right-section h1{
    color: white;
}
.right-section p{
    color: white;
}
.right-section button{
    color: white;
    width: 120px;
    height: 40px;
    color: white;
    background-color: #d9008d;
    font-size: 17px;
    border-radius: 25px;
    border: none;
    margin-top: 20px;
}

.three-section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-bottom: 50PX;
    
}
.three-section img{
    width: 400px;
    height: 450px;
    padding-inline: 10px;
}

.three-heading{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 236, 236);
}
.three-heading h1{
    font-size: 45px;
    color: black;
    margin-top: 40px;
}
.four-div{
    width: 100%;
    height: 500px;
    background-color: rgb(240, 236, 236);
    display: flex;
    align-items: center;
    justify-content: center;
   gap: 30px;

}
.box-frist{
     width: 280px;
     height: 400px; 
    background-color: #0f3cc9;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.box-frist h1{
    margin-bottom: 20px;
}
.box-frist p{
    font-size: 18px;
}
.box-frist button{
    width: 150px;
    height: 30px;
    background-color: #0f3cc9;
    color: white;
    border-radius: 20px;
    border: 1px solid white;
    font-size: 18px;
    margin-top: 20px;
}



.box-second{
    width: 280px;
    height: 400px;
    border-radius: 20px;
    color: rgb(36, 28, 28);
    background-color: white;
    border-radius: 20px;

}
.box-second img {
    width: 280px;
    height: 250px;
    border-radius: 20px;
}
.box-second button{
    width: 150px;
    height: 30px;
    border-radius: 20px;
    color: #0f3cc9;
    font-size: 16px;
    border: none;
    margin-top: 20px;
}
.box-second button:hover{
    background-color: rgb(161, 161, 161);
}
.box-third{
    width: 280px;
    height: 400px;
    border-radius: 20px;
    color: rgb(10, 10, 10);
    background-color: white;
    border-radius: 20px;

}
.box-third img {
    width: 280px;
    height: 250px;
    border-radius: 20px;
}
    .box-third button{
        width: 150px;
        height: 30px;
        border-radius: 20px;
        color: #0f3cc9;
        font-size: 16px;
        border: none;
        margin-top: 20px;
    }
    .box-third button:hover{
        background-color: rgb(161, 161, 161);}
.box-fourth{
    width: 280px;
    height: 400px;
    border-radius: 20px;
    color: rgb(10, 8, 8);
    background-color: white;


}
.box-fourth img {
    width: 280px;
    height: 250px;
    border-radius: 20px;}

    .box-fourth button{
        width: 150px;
        height: 30px;
        border-radius: 20px;
        color: #0f3cc9;
        font-size: 16px;
        border: none;
        margin-top: 20px;
    }
    .box-fourth button:hover{
        background-color: rgb(161, 161, 161);}

        .two-section{
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            background-color: rgb(226, 226, 248);
        }
        .two-section h6{
            font-size: 18px;

        }
        
            .frist-class{
                width: 600px;
                height: 500px;
                border-radius: 20px;
                color: rgb(36, 28, 28);
                background-color: white;
                border-radius: 20px;
            
            }
            .frist-class img {
                width: 600px;
                height: 350px;
                border-radius: 20px;
            }
            .frist-class button{
                width: 150px;
                height: 40px;
                border-radius: 20px;
                color: #0f3cc9;
                font-size: 16px;
                border: none;
                margin-top: 20px;
            }

            .second-class{
                width: 600px;
                height: 500px;
                border-radius: 20px;
                color: rgb(36, 28, 28);
                background-color: white;
                border-radius: 20px;
            
            }
            .second-class img {
                width: 600px;
                height: 350px;
                border-radius: 20px;
            }
            .second-class button{
                width: 180px;
                height: 40px;
                border-radius: 20px;
                color: #0f3cc9;
                font-size: 16px;
                border: none;
                margin-top: 20px;
            }
            .five{
                width: 100%;
                height: 600px;
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: center;

            }
            .five img{
                width: 100%px;
                height: 500px;

            }
            
          .footer-blue{
            width: 100%;
            height: 300px;
            background-color: #0f3cc9;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

          }
          .footer-blue h1{
            font-size: 55px;
            color: white;
          }
          .footer-blue h6{
            font-size: 18px;
            color: white;
            margin-top: 20px;
          }
          .footer-blue button{
            width: 120px;
            height: 30px;
            border-radius: 30px;
            border:1px solid white;
            background-color: #0f3cc9;
            margin-top: 20px;
            font-size: 18px;
            color:white ;
        
             }

             .footer-ul{
                width: 100%;
                height: 400px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 200px;
                background-color: white;
                
            }
            
            .footer-ul a{
                font-size: 15px;
                font-display:16px ;
                flex-direction: column;
                color: black;
              
            }
            
            .footer-ul1{
            
                width: 11%;
                margin-left: 10px;
            
            }
            
            .footer-ul1 a{
                margin-top: 20px;
                flex-direction: column;
            }
            
            .footer-ul1 hr{
                width: 0px;
                height: 0px;
            }
            
            .footer-ul2{
                width: 11%;
                margin-left: 20px;
            }
            
            .footer-ul2 a{
                margin-top: 20px;
                flex-direction: column;
            }
            
            .footer-ul3 {
                width: 11%;
                margin-left: 20px;
            }
            
            .footer-ul3 a{
                margin-top: 20px;
                flex-direction: column;
            }
            
            .footer-ul4{
                width: 11%;
                margin-left: 20px;
            }
            
            .footer-ul4 a{
                margin-top: 20px;
                flex-direction: column;
            }

            @media (max-width: 480px) {
                .nav{
                    width: 100%;
                    height: 70px;
                }
                .nav ul{
                    display: none;
                }
                .nav ul li a{
                    display: none;
                }
                .nav img{
                    margin-right:20px;
                }
                #icon{
                    margin-left: 220px;
                }
                .main-frist{
                    width: 100%;
                    height: 1000px;
                    flex-direction: column;
                }


                .recharge-box{
                   flex-direction: column;
                   width: 100%;
                   height: auto;


                
            }


            /* .main-frist{
                width: 100%;
                height: 470px;
                background-image: url(./jio\ 1st\ con\ 3rd.webp);
                background-size: cover;
                background-position: center;
                display: flex;
                align-items: start;
                justify-content: center;
                flex-direction: column;
            
            
            
            }
            .main-frist h1{
                font-size: 40px;
                color: white;
                margin-left: 170px;
                margin-bottom: 20px;
            
            }
            .main-frist h2{
                font-size: 18px;
                color: white;
                margin-left: 170px;
            
            }
            .main-frist button{
                width: 150px;
                height: 50px;
                border-radius: 35px;
                background-color: #0f3cc9;
                color: white;
                margin-left: 170px;
                margin-top: 20px;
                border:none;
                font-size: 18px;
              
            
            
            } */
            
